*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* /////////////////////Header//////////////////////////// */
.container-header
{    
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}




/* /////////////////Navigation bar//////////////////////// */
nav{

    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    height: 400px;
    background-color: #eabfda;
}
#left ,#right{
    width: 50px;
    position: relative;
    top: 95px;
}
nav a
{
    background-color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    color: black;
    text-decoration: none;
}
#logo{
    height: 130px;
    bottom: 95px;
}
header img{
    position: relative;
    width: 1100px;
    bottom: 240px;
}
header{
    display: flex;    
    justify-self:center;
}
nav a:hover{
    background-color: gray;
    color: red;
    border-radius: 10%;
}
/* ///////////////////////////////////////////////// */
body
{
    background-color: rgb(255, 254, 254);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* /////////////////FOOTER//////////////////////////////// */
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: black;
}

